<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df

   col1 col2  target
0     1    r       1
1     2    t       1
2     3    y       0

In [4]:
print(df)

   col1 col2  target
0     1    r       1
1     2    t       1
2     3    y       0